input{
  height: 56px;
}
button{
  height: 56px;
  background-color: #00466E !important;
  color: white !important;
  font-size: 12px  !important;
}


.top h3,.cb{
 color: #00466E
}
.top h4{
  color: #006B6E;
}

.link{
  color: #006B6E;
  font-size: 12px;
}

.active{
border-left:2px solid #00466E;
padding-left: 16px;
}

.zindx{
  z-index: -1;
}


/* responsive */
@media(max-width:768px){
.top{
  flex-direction: column;
}
}
